body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
    background-color: #8693ab;
}

#mainDiv {
    width: 100%;
    min-width: 900px;
    /*height: 1100px;*/
    height: auto;
    min-height: 1100px;
    margin-right: 0;
    margin-left: 0;
    background-color: #9aa8c2;
}

#header {
    width: 100%;
    height: 239px;
    margin: auto;
    background-color: #394053;
}

#articleDiv {
    width: 65%;
    margin: auto;
}

#contentDiv {
    padding-top: 90px;
    width: 65%;
    min-width: 750px;
    height: auto;
    margin: auto;
}

#navBar {
    width: 65%;
    height: 35px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #f6511d;
    line-height: 35px;
    border: 1px solid black;
}

#loginLink {
    float: left;
    padding-left: 10px;
    color: #394053;
}

#loginLink:hover {
    color: grey;
}

#regLink {
    float: left;
    padding-left: 10px;
    color: #394053;
}

#regLink:hover {
    color: grey;
}

#bannerImgDiv {
    height: 200px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    background-image: url("images/Reykjavik-Iceland.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: 1px solid black;
    line-height: 80px;
}

#pfpDiv {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    background-color: white;
    line-height: 20px;
    margin-top: 100px;
}

#pfpPic {
    height: 150px;
    width: 150px;
}

#articleTitle {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    float: none;
}

#blogTitle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

#blogImg1 {
    margin-left: 20px;
    margin-top: 20px;
}

#blogImg2 {
    margin-left: -102px;
    margin-top: 150px;
}

#sidebar {
    width: 180px;
    margin-top: -320px;
    margin-right: 60px;
    float: right;
}

#mainFooterDiv {
    width: 65%;
    min-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #9aa8c2;
    padding-bottom: 30px;
    width: 100%;
}

#footer {
    height: 50px;
    width: 95%;
    border: 1px solid black;
    background-color: #f6511d;
    text-align: center;
    line-height: 50px;
    margin: auto;
}

.navButtons {
    float: right;
    height: 35px;
    width: 100px;
    background-color: #9aa8c2;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-decoration: none;
    color: #394053;
}

.navButtons:hover {
    opacity: .75;
}

.blogBlock {
    height: 325px;
    width: 55%;
    background-color: #bdd4e7;
    margin-top: 20px;
    margin-left: 80px;
    float: left;
    border: 1px solid black;
    color: black;
}

.blogBlock:hover {
    background-color: #cce4f7;
}

.blogBlockLink {
    text-decoration: none;
}

.blogImg {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    float: left;
}

.blogTitle {
    font-size: 32px;
    margin-left: 15px;
    text-decoration: underline;
    float: left; 
}

.blogSubtitle {
    font-size: 20px; 
    float: left;
    margin-top: 73px;
    margin-left: -133px;
    text-decoration: underline;
}

.articleSubtitle {
    font-size: 17px; 
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: underline;
}

.articleDate {
    font-size: 12px; 
    margin-top: 0px;
}

.articleInfoDiv {
    text-align: left;
}

.articleContent {
    margin-bottom: 0;
    padding-bottom: 20px;
}

.articleImg {
    margin: 10px;
    height: 200px;
    width: 200px;
    background-color: red;
}

#artImg1 {
    float: right;
    height: 200px;
    width: 300px;
}

#artImg2 {
    float: left;
    height: 200px;
    width: 300px;
}

.mostRecentBlogBlock {
    height: 100px;
    width: 100%;
    background-color: #bdd4e7;
    border: 1px solid black;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    line-height: 100px;
}

.sidebarLinks {
    text-decoration: none;
    color: black;
}


#relatedContainer {
    text-align: center;
}

.relatedArticle {
    height: 100px;
    width: 180px;
    background-color: #bdd4e7;
    border: 1px solid black;
    display: inline-block;
    margin: 1%;
    text-align: center;
    line-height: 100px;

    animation-duration: 0.5s;
    animation-iteration-count: 1;
    transform-origin: bottom;
}

.relatedArticle:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

#relatedContainer a {
    text-decoration: none;
    color: black;
}

#firstRel {
    background-image: url("images/eiffeltower.jpg");
    background-size: cover;
}

#secondRel {
    background-image: url("images/barcelona.jpg");
    background-size: cover;
}

#thirdRel {
    background-image: url("images/dublin.jpg");
    background-size: cover;
}

#fourthRel {
    background-image: url("images/Colosseum.jpg");
    background-size: cover;
}

#footer a {
    text-decoration: underline;
    color:#394053
}

