/*css reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#poop
{
    float: left;
    color: yellow;
    width: 100px;
    height: 500px;
    background-color: brown;
    border: 3px solid pink;
    border-radius: 407px;
    line-height: 407px;
    margin-left: 150px;
}

#formDiv
{
    float: left;
    width: fit-content;
    padding: 20px;
    background-color: grey;
    border: 1px solid black;
    border-radius: 10px;
    text-align: left;
    margin-left: 200px;
    margin-top: 60px;
}

#mainDiv
{
    width: 75%;
    height: 500px;
    background-color: yellow;
    padding: 20px;
    border: 5px solid black;
}

#messageDiv
{
    float: left;
    width: 15%;
    padding: 10px;
    background-color: grey;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 150px;
}

#message
{
    width: fit-content;
    height: fit-content;
}